
/*------etsyitemscontainer*/
.etsyitemscontainer {
	border: solid red 2px;
	height: 75px;
	padding-bottom: 10px;
}

.bannercontainer {
	border: solid red 2px;
	height: 140px;
}

.bannerimage {
	height: 131px;
	width: 1100px;
}
.answercontainer {
	border: solid red 2px;
	height: 800px;
	background: #EEEEEE;
	text-align: center;
	width: 1100px;
}

.footercontainer {
	border: solid red 2px;
	height: 116px;
	width: 1100px;
	background: #4B484F;
	text-align: center;
}

/*-------------*/
.answer1lefthr {
width: 450px;
margin-left: 30px;
/*padding-bottom: 50px;*/
vertical-align: middle;
}

/*.answer1righthr {
width: 200px;
margin-right: 0px;
padding-bottom: 50px;
vertical-align: middle;
}*/

h3 {
	width: 150px;
	height: 30px;
	margin-left: 475px;
	border: solid blue 2px;
	display: block;
	text-align: center;
	font-size: 30px;
}

/*h3 {
	display: block;
}*/